body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 3s ease-in-out;
}

.slide {
    flex: 0 0 33.33%;
    padding: 10px;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
    margin-left: 20px;
}
/* Esconde a barra de scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}

/* Transição suave para o carrossel */
#carousel {
    scroll-behavior: smooth;
}